<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logback/defaults.xml"/>

    <springProfile name="local || junit">
        <include resource="org/springframework/logging/logback/console-appender.xml"/>
    </springProfile>

    <springProfile name="!(local || junit)">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>